@charset "utf-8";
/* 
body {background: #FF0000;} */

button {cursor: pointer;}
/* 清除浮动 */
.cls{clear:both;}
/* 加载中... */
.loading {background:url(../images/loading.gif) no-repeat 0 0; position: relative; top: 46%; left: 46%; height: 32px; width: 32px; text-align: center; line-height: 0;}
.load { background:url(../images/loading.gif) #FFFFFF no-repeat center center;width:100%;height:287px;overflow:hidden;}
.cener_img {vertical-align:middle;}
/* 拖拽的样式 */
.drag, .dialog, .contextMenu {
	/* opacity: 0.8;  */
	border-radius: 5px;
	-webkit-box-shadow: 0 3px 13px black;/*#55*/
	-moz-box-shadow: 0 3px 13px black;
	box-shadow: 0 3px 13px black;
}
.dialog {
	position: absolute;
	top: 40%;
	left: 35%;
	z-index: 150;
	display: table;
}
/* ie6-ie8不支持ＣＳＳ３ */
*.drag, *.dialog, *.contextMenu {
	/* alpha(opacity=80)  */
	filter: progid:DXImageTransform.Microsoft.Shadow(color='gray', Direction=135, Strength=4);
}
/* 在ＩＥ９下会进行两次透明, 并且重复显示filter属性 */
/*
:root *.drag, :root *.dialog, :root *.contextMenu {
	filter: \0/IE9;
}
*/
/*
.dialog td, .dialog th {
	display: table-cell; 
	text-align: center;
	vertical-align: middle;
}
.dialog_content {
	background: #fff;
}
.dialog_title th {
	color: white;
	text-align:left;
	padding-left:18px;
	font-size:20px;
	font-weight: bold;
}
.dialog_buttons {
	height: 35px; 
	background: #F7F7F7;
	text-align: center;
	vertical-align: bottom;
}
*/
.dialog_main{ width:auto; border:0 solid white;margin: 0;}
.dialog th, .dialog td{font-family: "Microsoft Yahei",Tahoma,Arial; color: #666666;}
.dialog_title th, .dialog_close, .dialog_content .d_f, .dialog_content .d_e, .dialog_buttons td, .dialog_ends td {
	background: url(../images/dialog/skins/chrome/chrome_s.gif);
	background-repeat: no-repeat; 
}
.dialog .d_f, .dialog .d_e { width: 5px; }
.dialog_title .d_f, .dialog_title .d_e, .dialog_ends .d_f, .dialog_ends .d_e { height: 5px; }

/* 头CSS */
.dialog_title th { height: 26px; }
.dialog_title .d_f{ background-position: -46px -8px; }
.dialog_title .d_t_c{  background-image: url(../images/dialog/skins/chrome/border.gif); background-repeat:repeat-x; }
.dialog_title .d_e{ background-position: -53px -8px; }
.d_title_div { position: relative; width: 100%;}
.d_title_text{ display: block; height: 26px; line-height: 23px; padding: 0 60px 0 5px; color: white; font-weight: 700; text-shadow: 0 1px 0 black;}

.dialog_content .d_f, .dialog_buttons .d_f { background-position: -60px 0; background-repeat: repeat-y; }
.dialog_content .d_e, .dialog_buttons .d_e { background-position: -65px 0; background-repeat: repeat-y; }
.dialog_content .d_c_c { background: white; }

/* 底部CSS */
.dialog_ends .d_f{ background-position: -46px -2px;}
.dialog_ends  .d_e_c{ background-image: url(../images/dialog/skins/chrome/border.gif); background-position: 0 bottom; background-repeat:repeat-x; }
.dialog_ends  .d_e{ background-position: -53px -2px;}

.dialog_close { width: 44px; height: 17px; display: block; background-position: 0 0; text-indent: -9999em; position:absolute; right: 2px; top: 1px; }
.dialog_close:hover { background-position: 0 -18px; }

.dialog_content .d_c_c, .dialog_buttons .d_b_c{
	display:table-cell;
	text-align: center;
	vertical-align: middle;
}

.dialog_buttons .d_b_c{background: white; border-top:solid 1px #999999; height: 35px; text-align:right;}
.dialog_buttons .d_b_c button{width: 45px; height: 25px; margin-right:2px;}

.dialog_content .dialog_content_text .iconImg{ float:left; padding: 15px 15px;margin-left:15px;}
.dialog_content{padding: 35px 25px; }
.dialog_content  .d_c_pic_cbox{padding: 18px 0; text-align: center;}
.dialog_content .cener_img{ vertical-align: middle;}
 
.modelBack{
	position: absolute;
	z-index: 0;
	top:0;
	left:0;
	background: #eee;
	opacity: .4; 
	filter:alpha(opacity=40);
}
/* 菜单项 */
.contextMenu ul {
	width: 100%;
	overflow: hidden;
	padding:10px 0;
}
.contextMenu li {
	width: 100%;
	list-style-type:none;
	text-align:center;
	margin: 3px auto;
}
.contextMenu a {
	width: 100%;
	display: block; 
	text-decoration: none;
	text-align: center;
}
.contextMenu a:hover {
	background: #eee;
}